streamlit==1.59.2
streamlit-extras==1.6.0
streamlit-option-menu==0.4.0

pandas==3.0.3
numpy==2.4.6
scikit-learn==1.9.0
scikit-image==0.26.0
scipy==1.18.0

xgboost==3.3.0
lightgbm==4.6.0
joblib==1.5.3

shap==0.52.0
lime==0.2.0.1

plotly==6.9.0
matplotlib==3.11.0

pydicom==3.0.2
pylidc==0.2.3

openpyxl==3.1.5

tqdm==4.68.4